<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Diagnostic Home Page</title>
<style>
body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url('bg5.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
</style>

</head>
<body>
	<h1>Diagnostic Portal</h1>
	<hr>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="diagnostic/add">Add new Diagnostic</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="diagnostic/delete1">Delete Diagnostic </a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>

				<a href="diagnostic/list">List all Diagnostic Service</a>


			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="diagnostic/addTestPatient">Add diagnostic test to
					patient</a>


			</p>
		</div>
	</div>

	<marquee>
		<h3>Information:All the diagnostic services are available here</h3>
	</marquee>
</body>
</html>