<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Clinic Management</title>
<style>
body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url('bg8.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
</style>


</head>
<body>
	<h1>Clinic Management</h1>
	<hr>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="patient">Patient services</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctor">Doctor Services </a>
			</p>
		</div>
	</div>


	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="appointment">Appointment Services </a>
			</p>

		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="diagnostic">Diagnostic Services </a>
			</p>
		</div>
	</div>

	<marquee>
		<h3>"Adding care to your life"</h3>
	</marquee>

</body>
</html>