<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page of Patient</title>
<style>
body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url('bg3.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
</style>
</head>
<body>


	<h1>Patient Portal</h1>
	<hr>
	<div class="row">
		<div class="column" style="background-color: #bbb;">

			<p>
				<a href="patientfind">Find Patient</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">

			<p>
				<a href="patientlist">List Patient by first name</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="patientsave">Save new Patient</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="patientupdate">Update the Patient Details</a>
			</p>
		</div>
	</div>








	<marquee>
		<h3>Information:All the patient services are available here</h3>
	</marquee>
</body>
</html>