<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doctor Home Page</title>
<style>
body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url('bg6.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
</style>

</head>
<body>
	<h1>Doctor Portal</h1>
	<hr>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctor/find">Find Doctor</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctor/list">List All doctors </a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctorSpeciality/list">List doctor in Speciality </a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctorSpeciality/add">Add doctor to Speciality </a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="doctorSpeciality/remove">Remove doctor from Speciality
				</a>
			</p>
		</div>
	</div>

	<marquee>
		<h3>Information:All the doctor services are available here</h3>
	</marquee>
</body>
</html>