<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page of Appointment</title>
<style>
body {
	font-family: Calibri, Helvetica, sans-serif;
	background-image: url('bg9.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
</style>

</head>
<body>
	<h1>Appointment Portal</h1>
	<hr>
	<div class="row">
		<div class="column" style="background-color: #bbb;">

			<a href="listAppointment">List all appointments</a>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="appointmentsave">Save new appointment</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="column" style="background-color: #bbb;">
			<p>
				<a href="appointmentlistdate">List the appointments by date</a>
			</p>
		</div>
	</div>

	<marquee>
		<h3>Information:All the appointment services are available here</h3>
	</marquee>
</body>
</html>