<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Save Appointment</title>
</head>
<body>



   <h2>Register Appointment</h2>
    <form action="saveAppointment" method="POST">
        <span>Appointment Id</span><input type="text" name="appointmentId"><br />
        <span>Doctor Id</span><input type="text" name="doctorId"><br />
        <span>Patient Id</span><input type="text" name="patientId"><br />
        <span>Date</span><input type="text" name="date"><br />
        <input type="submit" name="Register">
    </form>
</body>
</html>