<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Save a Patient</title>
</head>
<body>



	<h2>Register a Patient</h2>
	<form action="savePatient" method="POST">
		<span>Patient Id</span><input type="text" name="patientId"><br />
		<span>Patient FirstName</span><input type="text" name="firstName"><br />
		<span>Patient LastName</span><input type="text" name="lastName"><br />
		<span>Patient Email</span><input type="text" name="email"><br />
		<input type="submit" name="Register">
	</form>
</body>
</html>